<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.phh.treble.overlay.infinix.hot30i.x669c"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"
        android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
        android:requiredSystemPropertyValue="+*Infinix/X669C*"
        android:priority="378"
        android:isStatic="true" />
</manifest>
